<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite1" verbose="1" >
<listeners>
     <listener class-name="sceondtest.tn.listenerpage.TestListener"/>
</listeners>
  <test name="FunctionalTest" >
    <classes>
    <class name="sceondtest.tn.myrunner.MyRunner" />   
    </classes>
  </test>
</suite>

